/languages
/plugins
/upgrade
/uploads
/index.php

themes/twentyfifteen
themes/twentysixteen
themes/twentyseventeen
themes/blankslate
themes/index.php

themes/montana/config.rb
themes/montana/config.codekit
