// General

.label
	text-transform: uppercase
	font-size: .8em




// Home

.big.slider
	margin-top: -4em
	.slide .bg_img
		max-width: 166rem
		margin: 0 auto
	.details.box
		bottom: 6em
		width: 90%
		padding: 1.4em
		h2
			font-size: 2em
		// .subtitle
		// 	font-family: $Helvetica
		img
			display: inline-block
		.event_logo
			max-width: 100%
			max-height: 10em
		.excerpt
			margin-bottom: 3em
			max-height: 8.25em
			overflow: hidden
		@media screen and (min-width: 30rem)
			width: 75%
			max-width: 42em




h2.area_title
	font-size: 2em
	font-weight: bold
	margin: .5em 0
	&.boxed
		display: inline-block
		position: relative
		top: -1.2em
		margin-top: -1em
		background: $white
		border: .1rem solid $black
		padding: .6em .8em .5em
		color: $black
		font-weight: initial


.dropdown
	position: relative
	padding: 0 1em
	top: -3em
	label
		line-height: 2em
	h2
		+font-smoothing()
	.latest.story
		position: relative
		z-index: 14
		&:after
			content: url(../img/arr_down.svg)
			border: .2rem solid $white
			position: absolute
			right: 2em
			top: 2.5em
			+border-radius(50%)
			width: 2.2rem
			// height: 2.2rem
			padding-top: .3rem
			text-align: center
			+transition(transform .5s)
	ul.stories
		position: relative
		width: 100%
		display: block
		margin-top: -6.65em
		margin-bottom: 6em
		z-index: 13
		top: 0
		+transition(top .5s)
		li
			position: absolute
			width: 100%
			// margin-left: .5%
			top: 0
			+transition(all .5s ease)
			&:nth-child(1)
				z-index: 5
			&:nth-child(2)
				z-index: 4
			&:nth-child(3)
				z-index: 3
			&:nth-child(4)
				z-index: 2
			&:nth-child(5)
				z-index: 1
	.stories li, .story
		background: $black
		border-bottom: .1rem solid $lightgray
		display: block
		padding: 1em
		img
			display: inline-block
			margin-right: 1em
			vertical-align: top
			max-height: 6rem
			width: auto
			@media screen and (max-width: 30rem)
				display: none
	a
		color: $white
		display: inline-block
		width: 100%
		&.toggle_button
			position: absolute
			top: 1.75em
			right: 1.25em
			width: 3em
			height: 3em
			z-index: 1
			cursor: pointer
	.title
		width: 60%
		display: inline-block
		height: 6rem
		> div
			vertical-align: middle
			display: table-cell
			height: 6rem
			font-size: 1.4em
		@media screen and (max-width: 30rem)
			width: 80%
	&.open
		.latest.story:after
			transform: rotate(180deg)
		ul.stories
			top: 6.6em
			li
				width: 100%
				margin-left: 0
				&:nth-child(2)
					top: 6.6em
				&:nth-child(3)
					top: 13.25em
				&:nth-child(4)
					top: 19.9em
				&:nth-child(5)
					top: 26.55em
				&:nth-child(6)
					top: 33.2em
				&:hover
					background: $white
					a
						color: $orange


.collections
	.controls
		background: $white
		border: 0.1rem solid $black
		overflow: auto
		padding: .5em
		margin: 1em 1em 0 1em
		ul > li a
			border: .1rem solid
			display: inline
			float: left
			margin: .5em
			padding: .7em .75em .5em
			&.current
				color: $white
				background: $black
				font-weight: bold
				+font-smoothing()
	.details_container
		background: $black
		color: white
		margin: 0 1em
		padding: 1em
		clear: both
		overflow: auto
		display: none
		position: relative
	.column
		padding: 4em 1em 2em
	.info
		float: left
		.status_label
			margin-top: 6em
			font-size: 1em
			color: $white
		.subtitle
			font-family: $Helvetica
			margin-top: .2em
		h1
			font-size: 3em
			+font-smoothing()
	.gallery
		float: right
		img
			max-width: 100%
			height: auto
	@media screen and (min-width: 30rem)
		.info
			width: 40%
		.gallery
			width: 60%

//
//
//
//
//
//
//
//
//
//
//
//
// SINGLE

.bg_featured_banner
	position: relative
	width: 100%
	height: 85vh
	min-height: 40em
	max-height: 60em
	background-size: cover
	background-position: center
	&.no_image
		min-height: 14em
		height: 14em
	@media screen and (min-width: 79rem)
		top: -4em


.post_info, .post_meta
	padding: 1.6em

.post_head
	padding: 0 1em
	margin-top: -8em
	margin-bottom: 4em
	position: relative
	overflow: auto
	top: -1em
	+transition(all .25s ease)
	&.loading
		top: 6em
		opacity: 0

.post_info
	background: $white
	border: .1rem solid $black
	position: relative
	h1
		font-size: 2em
	.label
		color: $orange
		margin-bottom: .5em
	.subtitle
		font-family: $Helvetica
		margin: 0.4em 0 2em
	.status_label
		margin-top: 2em
		&.stick
			position: absolute
			bottom: 1.5em

.post_meta
	background: $black
	color: $white
	dt
		+font-smoothing()
		font-weight: bold
		color: $gray
	dd
		font-family: $Helvetica
		line-height: 1.4em
		margin-bottom: 1em
	a.button
		border: .1rem solid $white
		padding-top: .65em

@media screen and (min-width: 50rem)
	.main_content_column
		width: 55%
		overflow: auto
	.post_meta
		width: 45%
	.post_meta, .post_info
		float: left


.widget
	padding: 1em
	h3
		font-size: 1.2em
		font-weight: bold
	iframe
		width: 100%
		min-height: 26em
	ol
		li
			border-bottom: .1rem solid rgba(255, 255, 255, 0)
			&:hover
				border-bottom: .1rem dotted $lightgray
		span
			float: right
	.body_content
		font-family: $Helvetica
		color: $gray
		padding: 1em 0
		font-size: 0.9em
		line-height: 1.6em





// Agenda

#agenda
	.max_wrap
		padding-left: 1em
		padding-right: 1em

	form
		margin: 2em 0

	input, select
		font: inherit
		+appearance(none)
		border: .1rem solid
		border-radius: 0
		background: $white
		min-width: 14em
		max-width: 17em
		padding: 1em 1em .8em
		margin-right: .8em

	.input_wrap
		position: relative
		display: inline-block
		&.hoy
			&:before
				content: 'HOY'
				font-family: Helvetica
				font-weight: bold
				position: absolute
				z-index: 1
				left: 1em
				top: .85em
				border-right: .1rem solid
				padding: 0.1em .4em 0 0
			input
				padding-left: 4em
	input[type="submit"]
		min-width: 8em
	input.disabled
		color: $lightgray
		pointer-events: none
	img.loader
		vertical-align: bottom
		height: 2em
		position: relative
		top: -.5em
		display: none


.ag_results
	h3
		font-size: 1.4em
		font-family: $Helvetica
		font-weight: normal
		padding-right: 1em
		padding-left: 1em
		span
			font-family: $NewJune
			color: $orange
			font-weight: bold
			margin-right: .5em
	.kicker
		font-family: $Helvetica
		font-size: .9em
		color: $gray
		margin-top: 0.2em
		width: 80%
	ul
		border-top: .1rem solid
		margin: 1em 0 4em
		li
			background: $white
			padding-right: .4em
			padding-left: .4em
			&:hover
				background: $black
				color: $white
				border-top: .1rem solid
				position: relative
				top: -.1rem
			&:last-child
				border-bottom: 0.1rem solid
				.max_wrap
					border: none

		.max_wrap
			border-bottom: .1rem solid $black
			> div
				display: table-cell
				vertical-align: middle
				padding: 1.5em 1em 1.4em 0
				&.schedule
					width: 16em
					font-family: $Helvetica
					font-size: .9em
					color: $gray
				&.thumbnail, &.location
					display: none
				&.title
					width: 75%
					padding-left: 1em
				@media screen and (min-width: 50rem)
					&.schedule
						width: 20em
					&.thumbnail, &.location
						display: table-cell
						width: 20em
					&.title
						width: 55%
		img
			display: block
			width: 100%
			height: auto
		h2, .location
			font-size: 1.2em



// Calendar
.ui-widget-header
	background: transparent
	border: none
.ui-corner-all
	border-radius: 0
	border-color: $black
.ui-widget
	font-family: $Helvetica
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	background: transparent
	text-align: center
.ui-datepicker
	width: 15.3em
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	background: transparent




.area
	margin-top: 14vh
	&.for_today
		margin-top: 20vh
	&.conarte_tv
		margin-top: 20vh
		padding: 2em 0 4em
		background: $black
		color: $white
	&.special h2.area_title
		margin-bottom: -1em
		position: relative
		top: 1em
	&.head_blur
		margin-top: -8em
		padding-top: 12em
		padding-bottom: 2em
		background-image: url(../img/bg_fancy_a.jpg)
		background-position: top
		background-size: cover
		border-bottom: .1rem solid $white
	&.explore
		margin-top: 0
		padding-top: 10vh
		padding-bottom: 6vh
		background: $white






.page
	.body_content
		+Helvetica
		font-size: 1.2em
		padding-left: 2em
		padding-right: 2em
		line-height: 1.6em
		h2, h3
			font-family: $NewJune
			font-weight: bold
		h2
			font-size: 1.4em
		pre
			color: $darkgray
			font-size: .8em
			margin-top: .2em
		img
			max-width: 100%
			height: auto
