// General

.label
	text-transform: uppercase
	font-size: .8em




// Home

.home.slider
	margin-top: -4em
	.slide .bg_img
		max-width: 166rem
		margin: 0 auto
	.details.box
		bottom: 4em
		width: 90%
		img
			display: inline-block
		@media screen and (min-width: 30rem)
			width: 60%
	@media screen and (min-width: 50rem)
		.slide
			height: 50em
		.details.box
			width: 45%
	@media screen and (min-width: 79rem)
		.slide
			height: 60em
		.details.box
			width: 35%
			bottom: 6em





h2.area_title
	font-size: 1.8em
	font-weight: bold
	text-align: center
	margin: 1.5em 0 .5em

.dropdown
	position: relative
	padding: 0 1em
	top: -3em
	h2
		font-size: 1.2em
	.latest.story
		position: relative
		z-index: 14
		&:after
			content: url(../img/arr_down.svg)
			border: .2rem solid $white
			position: absolute
			right: 2em
			top: 2.5em
			+border-radius(50%)
			width: 2.2rem
			// height: 2.2rem
			padding-top: .3rem
			text-align: center
			+transition(transform .5s)
	ul.stories
		position: relative
		width: 100%
		display: block
		// margin-top: -6.25em
		margin-top: -6.65em
		margin-bottom: 6em
		z-index: 13
		top: 0
		+transition(top .5s)
		li
			position: absolute
			width: 100%
			// margin-left: .5%
			top: 0
			+transition(all .5s ease)
			&:nth-child(1)
				z-index: 5
			&:nth-child(2)
				z-index: 4
			&:nth-child(3)
				z-index: 3
			&:nth-child(4)
				z-index: 2
			&:nth-child(5)
				z-index: 1
	.stories li, .story
		background: $black
		border-bottom: .1rem solid $lightgray
		display: block
		padding: 1em
		@media screen and (max-width: 30rem)
			display: none
		img
			display: inline-block
			margin-right: 1em
			vertical-align: top
			max-height: 6rem
			width: auto
	a
		color: $white
		display: inline-block
		width: 100%
		&.toggle_button
			position: absolute
			top: 1.75em
			right: 1.25em
			width: 3em
			height: 3em
			z-index: 1
			cursor: pointer
	.title
		width: 60%
		display: inline-block
		height: 6rem
		> div
			vertical-align: middle
			display: table-cell
			height: 6rem
		@media screen and (max-width: 30rem)
			width: 80%
	&.open
		.latest.story:after
			transform: rotate(180deg)
		ul.stories
			top: 6.25em
			li
				width: 100%
				margin-left: 0
				&:nth-child(2)
					top: 6.6em
				&:nth-child(3)
					top: 13.25em
				&:nth-child(4)
					top: 19.9em
				&:nth-child(5)
					top: 26.55em
				&:hover
					background: $white
					a
						color: $orange



.collections
	.controls
		background: $white
		border: 0.1rem solid $black
		overflow: auto
		padding: .5em
		margin: 1em 1em 0 1em
		ul > li
			border: .1rem solid
			display: inline
			float: left
			margin: .5em
			padding: .5em .75em
	.details_container
		background: $black
		color: white
		margin: 0 1em
		padding: 1em

	.gallery img
		max-width: 100%




//
//
//
//
//
//
//
//
//
//
//
//
// SINGLE

.bg_featured_banner
	position: relative
	width: 100%
	height: 40em
	background-size: cover
	background-position: center
	@media screen and (min-width: 79rem)
		top: -4em


.post_info, .post_meta
	padding: 1.6em

.post_head
	padding: 0 1em
	margin-top: -8em
	margin-bottom: 4em
	position: relative
	overflow: auto
	top: -1em
	+transition(all .25s ease)
	&.loading
		top: 6em
		opacity: 0

.post_info
	background: $white
	border: .1rem solid $black
	position: relative
	h1
		font-size: 2em
	.label
		color: $orange
		margin-bottom: .5em
	.status_label
		margin-top: 2em
		&.stick
			position: absolute
			bottom: 1.5em

.post_meta
	background: $black
	color: $white
	dt
		+font-smoothing()
		font-weight: bold
		color: $gray
	dd
		font-family: $Helvetica
		margin-bottom: 1em
	a.button
		border: .1rem solid $white
		padding-top: .65em

@media screen and (min-width: 50rem)
	.main_content_column
		width: 55%
		overflow: auto
	.post_meta
		width: 45%
	.post_meta, .post_info
		float: left


.widget
	padding: 1em
	h3
		font-size: 1.2em
		font-weight: bold
	iframe
		width: 100%
		min-height: 26em
	ol
		li
			border-bottom: .1rem solid rgba(255, 255, 255, 0)
			&:hover
				border-bottom: .1rem dotted $lightgray
		span
			float: right
	.body_content
		font-family: $Helvetica
		color: $gray
		padding: 1em 0
		font-size: 0.9em
		line-height: 1.6em





// Agenda

#agenda
	form
		margin: 2em 0

	input, select
		font: inherit
		+appearance(none)
		border: .1rem solid
		border-radius: 0
		background: $white
		min-width: 14em
		padding: 1em 1em .8em
		margin-right: .8em

	.input_wrap
		position: relative
		display: inline-block
		&.hoy
			&:before
				content: 'HOY'
				font-family: Helvetica
				font-weight: bold
				position: absolute
				z-index: 1
				left: 1em
				top: .85em
				border-right: .1rem solid
				padding: 0.1em .4em 0 0
			input
				padding-left: 4em

.ag_results
	h3
		font-size: 1.2em
		font-weight: bold
		span
			color: $orange
			margin-right: .5em
	ul
		border-top: .1rem solid
		margin: 1em 0 4em
		li
			background: $white
			&:hover
				background: $black
				color: $white
				border-top: .1rem solid
				position: relative
				top: -.1rem
			&:last-child
				border-bottom: 0.1rem solid
				.max_wrap
					border: none

		.max_wrap
			border-bottom: .1rem solid $black
			> div
				display: table-cell
				vertical-align: middle
				padding: 1em 2em 1em 0
				&.schedule
					width: 20em
				&.thumbnail
					width: 16rem
				&.title
					width: 50%
		img
			display: block
			width: 100%
			height: auto


// Calendar
.ui-widget-header
	background: transparent
	border: none
.ui-corner-all
	border-radius: 0
	border-color: $black
.ui-widget
	font-family: $Helvetica
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	background: transparent
	text-align: center
.ui-datepicker
	width: 15.3em
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	background: transparent
