// General

.label
	text-transform: uppercase
	font-size: .8em

.actions_tray
	text-align: center

a.button
	display: inline-block
	background: $black
	color: $white
	font-size: 1.2em
	padding: .5em 1em



// Home
.slider
	position: relative
	z-index: 0
	.slide
		position: relative
		height: 40em
		> img
			max-width: 100%
			min-height: 20em
		.bg_img
			width: 100%
			height: 60em
			background-size: cover
			background-position: center
			position: relative


.details.box
	background: $white
	border: 1px solid
	display: block
	min-width: 20em
	position: absolute
	margin: 0 1em
	bottom: 1em
	padding: 1em
	min-height: 14em
	.parent_label
		position: absolute
		top: -1em
		display: inline-block
		background: $white
		border: .1rem solid $black
		font-size: .8em
		padding: .25em .5em
	h2
		font-size: 1.4em
		line-height: 1.4em
	.status_label
		position: absolute
		bottom: 1em
		font-size: .8em
		font-family: $Helvetica
		color: $gray
		span
			opacity: .3

.deck
	overflow: auto
	padding-top: 2em

.card
	position: relative
	padding: 1.5rem 1rem 1.5rem 3rem
	float: left
	&.twos
		width: 100vw
		// .details.box
		// 	margin-top: 9em
		// img
		// 	top: -9em
		h2
			font-size: 2.4em
	&.fours
		width: 50vw
		&.has-image .details.box
			height: 20em
	&.movie
		.details.box
			margin-top: 18em
		img
			margin-top: -20em
	@media screen and (min-width: 50rem)
		&.twos
			width: 50%
		&.fours
			width: 25%
		&.sixs
			width: 16.666%
	img
		width: 100%
		height: auto
		display: block
	.details.box
		min-height: 14em
		min-width: inherit
		width: 100%
		position: relative
		margin-left: -1em
		padding: 0
		.wrap
			padding: 1em
		.parent_label
			top: inherit
			bottom: -1em
		h2
			margin-bottom: 2em
	.img_container
		position: relative
		right: -1em
		margin-top: -1em

	&.no-image
		.details.box
			min-height: 0
		.img_container
			margin-top: 0
