// General

.label
	text-transform: uppercase
	font-size: .8em
	font-weight: bold
	+font-smoothing()

.actions_tray
	text-align: center

a.button
	display: inline-block
	background: $black
	color: $white
	font-size: 1.2em
	padding: .5em 1em

.fleft
	float: left
	margin-right: 1em
	max-width: 14em

.excerpt
	font-family: $Helvetica
	line-height: 1.4em
	color: $gray
	margin-top: 1em
	img.poster
		@extend .fleft

.status_label
	font-size: .85em
	font-family: $Helvetica
	color: $gray
	letter-spacing: .02em

.clear
	clear: both

.embed-container
	position: relative
	padding-bottom: 56.25%
	height: 0
	overflow: hidden
	max-width: 100%
	height: auto
	iframe, object, embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

svg.icon
	fill: $gray
	width: 2em
	height: 2em
	&.facebook
		fill: #3b5998
	&.twitter
		fill: #1DA1F2


ul.moviehours li
	display: inline-block
	&:before
		content: '•'
		display: inline-block
		margin: 0 .8em
		color: $gray
	&:first-child:before
		content: ''
		margin: 0

a.close
	position: absolute
	width: 1.5em
	height: 1.5em
	display: block
	top: 1.5em
	right: 1em
	cursor: pointer
	&:before, &:after
		content: ''
		border-top: .3rem solid white
		width: 100%
		display: block
		transform: rotate(45deg)
		position: absolute
		top: .65em
	&:before
		transform: rotate(-45deg)



.embed-container
	position: relative
	padding-bottom: 56.25%
	height: 0
	overflow: hidden
	max-width: 100%
	height: auto
	iframe, object, embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%






// Home
.slider
	position: relative
	z-index: 0
	.slide
		position: relative
		height: 40em
		> img
			max-width: 100%
			min-height: 20em
		.bg_img
			width: 100%
			height: 60em
			background-size: cover
			background-position: center
			position: relative


.details.box
	background: $white
	border: 1px solid
	display: block
	min-width: 20em
	position: absolute
	margin: 0 1em
	bottom: 1em
	padding: 1em
	min-height: 14em
	.parent_label
		position: absolute
		top: -1em
		display: inline-block
		background: $white
		border: .1rem solid $black
		font-size: .8em
		font-weight: bold
		+font-smoothing()
		padding: .4em .5em .2em
	h2
		font-size: 1.4em
		line-height: 1.4em
	.status_label
		position: absolute
		bottom: 1em
		span
			opacity: .3

.deck
	overflow: auto
	// padding-top: 2em

// .slick-track
// 	background: url(http://placehold.it/180x60/4400cc&text=slick-track)
// .slick-list.draggable
// 	background: url(http://placehold.it/180x60/0000FF&text=slick-list)
// .slider_deck
// 	background: url(http://placehold.it/180x60/ff00ff&text=slider-deck)

.card
	position: relative
	padding: 1.5rem 1.5rem 1.5rem 3rem
	// float: left
	display: inline-block !important
	vertical-align: bottom
	float: initial
	h2
		margin-top: .2em
		margin-bottom: 2em
	&.twos
		width: 100vw
		max-width: 45em
		h2
			font-size: 2.4em
		&.no-image .details.box
			min-height: 16em
	&.fours
		width: 50vw
		max-width: 22.5em
		.details.box
			min-height: 18em
	&.sixs
		width: 33.33vw
		max-width: 15em
		h2
			font-size: 1em
	@media screen and (max-width: 30rem)
		&.fours, &.sixs
			width: 14em
		&.fours h2
			font-size: 1em
	&.movie
		.details.box
			margin-top: 18em
		img
			margin-top: -20em
			max-height: 27.5em
	&.tv
		min-height: 10em
		vertical-align: top
		h3
			font-weight: bold
			margin-top: 1em
		.about
			font-family: $Helvetica
			margin-top: .4em
			color: $gray
	&.schedule
		font-family: $Helvetica
		.details.box
			min-height: inherit
		li
			display: inline-block
			color: $gray
			&:before
				content: '•'
				margin: 0 .5em
				color: $lightgray
			&:nth-child(1):before
				content: ''
				margin: 0
		br
			content: ''
			display: block
			margin-bottom: .5em
	img
		width: 100%
		height: auto
		display: block
	.details.box
		min-height: 14em
		min-width: inherit
		width: 100%
		position: relative
		margin-left: -1em
		margin-top: 2em
		padding: 0
		.wrap
			padding: 1em
		.parent_label
			top: inherit
			bottom: -1em
	.img_container
		position: relative
		right: -1em
		margin-top: -1em

	&.no-image
		padding-right: 0
		.details.box
			min-height: 0
		.img_container
			margin-top: 1.5em
			&.sixs .img_container
				margin-top: 0
