html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  font-size: 10px;
  line-height: inherit; }

body {
  background: #f7f7f7;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  color: #1d1d1d; }

#wrapper > header {
  background: #1d1d1d;
  padding: 2em; }

header .navigation {
  display: none; }
  header .navigation a {
    color: white; }
  header .navigation li {
    display: inline-block; }

a#nav_toggle_button {
  border-top: 0.25em solid white;
  border-bottom: 0.25em solid white;
  width: 2.5em;
  display: block;
  float: right;
  position: relative;
  padding: 0.7em 0;
  top: -3em; }
  a#nav_toggle_button:before {
    content: "";
    border-top: 0.25em solid white;
    width: 100%;
    display: block; }

.slide {
  position: relative; }
  .slide > img {
    max-width: 100%;
    min-height: 20em; }

.details.box {
  background: white;
  border: 1px solid;
  display: block;
  min-width: 25em;
  position: absolute;
  margin: 0 1em;
  bottom: 1em;
  padding: 1em;
  min-height: 14em; }
  .details.box .parent_label {
    position: absolute;
    top: -1em;
    display: inline-block;
    background: white;
    border: 0.1rem solid #1d1d1d;
    font-size: 0.8em;
    padding: 0.25em 0.5em; }
  .details.box h2 {
    font-size: 2.4em;
    margin-bottom: 1em; }
  .details.box .status_label {
    position: absolute;
    bottom: 1em;
    font-size: 0.8em; }

.deck {
  overflow: auto;
  padding-top: 2em; }

.card {
  position: relative;
  padding: 1.5rem 1rem 1.5rem 3rem;
  float: left; }
  .card.twos {
    width: 100%; }
  .card.fours {
    width: 50%; }
  .card img {
    width: 100%;
    display: block; }
  .card .details.box {
    min-height: 14em;
    min-width: inherit;
    width: 100%;
    position: relative;
    margin-left: -1em;
    padding: 0; }
    .card .details.box .wrap {
      padding: 1em; }
    .card .details.box .parent_label {
      top: inherit;
      bottom: -1em; }
  .card .img_container {
    position: relative;
    right: -1em;
    margin-top: -1em; }
  .card.no-image .details.box {
    min-height: 0; }
  .card.no-image .img_container {
    margin-top: 0; }

.dropdown {
  margin: 1em;
  position: relative; }
  .dropdown .latest.story:after {
    content: url("http://placehold.it/10");
    border: 0.2rem solid white;
    position: absolute;
    right: 2em;
    top: 2.5em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center; }
  .dropdown .stories li, .dropdown .story {
    background: #1d1d1d;
    border-bottom: 0.1rem solid #ababab;
    display: block;
    padding: 1em; }
    .dropdown .stories li img, .dropdown .story img {
      display: inline;
      margin-right: 1em;
      vertical-align: top; }
  .dropdown a {
    color: white; }
  .dropdown .title {
    width: 60%;
    display: inline-block;
    height: 6rem; }
    .dropdown .title > div {
      vertical-align: middle;
      display: table-cell;
      height: 6rem; }

.label {
  text-transform: uppercase;
  font-size: 0.8em; }
