html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  font-size: 10px;
  line-height: inherit; }

body {
  background: #f7f7f7;
  font-family: "New June", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  color: #1d1d1d; }

a {
  color: inherit;
  text-decoration: none; }

hr {
  clear: both;
  width: 100%;
  border: 0.1rem solid #818181;
  margin: 0.5em 0 0.75em; }

.max_wrap {
  max-width: 126rem;
  margin: 0 auto;
  width: 100%; }

a.max_wrap {
  display: block; }

ol {
  list-style: decimal;
  padding-left: 1.2em; }

strong {
  font-weight: 700; }

header {
  background: #1d1d1d;
  padding: 2em;
  max-width: 126rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1000; }
  header .navigation {
    display: none;
    float: right;
    width: 100%;
    padding-left: 10.5em;
    padding-right: 4em;
    position: absolute;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media screen and (min-width: 50rem) {
      header .navigation {
        display: block; } }
    header .navigation a {
      color: #818181; }
    header .navigation li {
      display: inline-block; }
  header #site-title {
    float: left; }
    header #site-title, header #site-title a {
      display: inline-block;
      line-height: 0; }
    header #site-title img {
      max-width: 12rem; }
  header #search {
    display: inline-block;
    float: right;
    font-size: 0.8em;
    text-transform: uppercase; }
  header ul.submenu {
    display: inline-block;
    font-size: 0.8em;
    text-transform: uppercase; }
    header ul.submenu li {
      margin-right: 1.5em; }
  header nav#menu {
    font-size: 1.2em; }
    header nav#menu a {
      color: white; }
    header nav#menu ul {
      display: flex;
      justify-content: space-between; }

a#nav_toggle_button {
  border-top: 0.25em solid white;
  border-bottom: 0.25em solid white;
  width: 2.5em;
  display: block;
  float: right;
  position: relative;
  padding: 0.7em 0;
  top: 1em; }
  a#nav_toggle_button:before {
    content: "";
    border-top: 0.25em solid white;
    width: 100%;
    display: block; }
  @media screen and (min-width: 50rem) {
    a#nav_toggle_button {
      display: none; } }

footer .social {
  background-color: #161616;
  text-align: center;
  padding-top: 8em;
  background-image: url(../img/logo_conarte.svg);
  background-size: 12rem;
  background-repeat: no-repeat;
  background-position: center top 3rem; }
  footer .social input {
    -webkit-appearance: none;
    padding: 1em 1.5em;
    font-size: initial;
    border: none; }
  footer .social form {
    background: yellow;
    display: inline-block;
    border-radius: 0.4rem;
    overflow: hidden;
    font-size: 0rem; }
  footer .social li {
    display: inline-block;
    margin: 2em 1em; }
  @media screen and (min-width: 50rem) {
    footer .social {
      padding: 2em; }
      footer .social form {
        float: left; }
      footer .social ul.sm_tray {
        display: inline-block;
        float: right; }
      footer .social li {
        margin: 0 1em; } }
footer #foot_nav {
  clear: both;
  border-top: 0.2rem solid #818181;
  position: relative;
  padding-top: 1.4em;
  top: 2em;
  margin-bottom: 2em;
  display: none;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em; }
  footer #foot_nav a {
    color: white; }
  footer #foot_nav ul {
    display: flex;
    justify-content: space-between; }
  @media screen and (min-width: 50rem) {
    footer #foot_nav {
      display: block; } }

.sitemap {
  background: #1d1d1d;
  color: #ababab;
  padding: 2em;
  text-align: center; }
  @media screen and (min-width: 50rem) {
    .sitemap {
      overflow: auto; } }
  .sitemap ul.links, .sitemap #copyright {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 0.8em;
    line-height: 1.6em; }
  .sitemap a#logo_nl {
    padding-top: 2em;
    display: block;
    clear: both; }
  @media screen and (min-width: 50rem) {
    .sitemap ul.links, .sitemap #copyright {
      width: 25%; }
    .sitemap a#logo_nl {
      padding-top: 0;
      float: right;
      clear: none; } }

.label {
  text-transform: uppercase;
  font-size: 0.8em; }

.actions_tray {
  text-align: center; }

a.button {
  display: inline-block;
  background: #1d1d1d;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 1em; }

.slider {
  position: relative;
  z-index: 0; }
  .slider .slide {
    position: relative;
    height: 40em; }
    .slider .slide > img {
      max-width: 100%;
      min-height: 20em; }
    .slider .slide .bg_img {
      width: 100%;
      height: 60em;
      background-size: cover;
      background-position: center;
      position: relative; }

.details.box {
  background: white;
  border: 1px solid;
  display: block;
  min-width: 20em;
  position: absolute;
  margin: 0 1em;
  bottom: 1em;
  padding: 1em;
  min-height: 14em; }
  .details.box .parent_label {
    position: absolute;
    top: -1em;
    display: inline-block;
    background: white;
    border: 0.1rem solid #1d1d1d;
    font-size: 0.8em;
    padding: 0.25em 0.5em; }
  .details.box h2 {
    font-size: 1.4em;
    line-height: 1.4em; }
  .details.box .status_label {
    position: absolute;
    bottom: 1em;
    font-size: 0.8em;
    font-family: Helvetica, Arial, sans-serif;
    color: #818181; }
    .details.box .status_label span {
      opacity: 0.3; }

.deck {
  overflow: auto;
  padding-top: 2em; }

.card {
  position: relative;
  padding: 1.5rem 1rem 1.5rem 3rem;
  float: left; }
  .card.twos {
    width: 100vw; }
    .card.twos h2 {
      font-size: 2.4em; }
  .card.fours {
    width: 50vw; }
    .card.fours.has-image .details.box {
      height: 20em; }
  .card.movie .details.box {
    margin-top: 18em; }
  .card.movie img {
    margin-top: -20em; }
  @media screen and (min-width: 50rem) {
    .card.twos {
      width: 50%; }
    .card.fours {
      width: 25%; } }
  .card img {
    width: 100%;
    height: auto;
    display: block; }
  .card .details.box {
    min-height: 14em;
    min-width: inherit;
    width: 100%;
    position: relative;
    margin-left: -1em;
    padding: 0; }
    .card .details.box .wrap {
      padding: 1em; }
    .card .details.box .parent_label {
      top: inherit;
      bottom: -1em; }
    .card .details.box h2 {
      margin-bottom: 2em; }
  .card .img_container {
    position: relative;
    right: -1em;
    margin-top: -1em; }
  .card.no-image .details.box {
    min-height: 0; }
  .card.no-image .img_container {
    margin-top: 0; }

.label {
  text-transform: uppercase;
  font-size: 0.8em; }

.home.slider {
  margin-top: -4em; }
  .home.slider .slide .bg_img {
    max-width: 166rem;
    margin: 0 auto; }
  .home.slider .details.box {
    bottom: 4em;
    width: 90%; }
    .home.slider .details.box img {
      display: inline-block; }
    @media screen and (min-width: 30rem) {
      .home.slider .details.box {
        width: 60%; } }
  @media screen and (min-width: 50rem) {
    .home.slider .slide {
      height: 50em; }
    .home.slider .details.box {
      width: 45%; } }
  @media screen and (min-width: 79rem) {
    .home.slider .slide {
      height: 60em; }
    .home.slider .details.box {
      width: 35%;
      bottom: 6em; } }

h2.area_title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin: 1.5em 0 0.5em; }

.dropdown {
  position: relative;
  padding: 0 1em;
  top: -3em; }
  .dropdown .latest.story {
    position: relative;
    z-index: 14; }
    .dropdown .latest.story:after {
      content: url(../img/arr_down.svg);
      border: 0.2rem solid white;
      position: absolute;
      right: 2em;
      top: 2.5em;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 2.2rem;
      padding-top: 0.3rem;
      text-align: center; }
  .dropdown ul.stories {
    position: relative;
    width: 100%;
    display: block;
    margin-top: -6.25em;
    margin-bottom: 6em;
    z-index: 13; }
    .dropdown ul.stories li {
      position: absolute;
      width: 100%; }
      .dropdown ul.stories li:nth-child(1) {
        width: 99%;
        margin-left: 0.5%;
        z-index: 12;
        border: none; }
      .dropdown ul.stories li:nth-child(1n+2) {
        opacity: 0; }
  .dropdown .stories li, .dropdown .story {
    background: #1d1d1d;
    border-bottom: 0.1rem solid #ababab;
    display: block;
    padding: 1em; }
    @media screen and (max-width: 30rem) {
      .dropdown .stories li, .dropdown .story {
        display: none; } }
    .dropdown .stories li img, .dropdown .story img {
      display: inline;
      margin-right: 1em;
      vertical-align: top;
      max-height: 8rem;
      width: auto; }
  .dropdown a {
    color: white; }
  .dropdown .title {
    width: 60%;
    display: inline-block;
    height: 6rem; }
    .dropdown .title > div {
      vertical-align: middle;
      display: table-cell;
      height: 6rem; }
    @media screen and (max-width: 30rem) {
      .dropdown .title {
        width: 80%; } }

.collections .controls {
  background: white;
  border: 0.1rem solid #1d1d1d;
  overflow: auto;
  padding: 0.5em;
  margin: 1em 1em 0 1em; }
  .collections .controls ul > li {
    border: 0.1rem solid;
    display: inline;
    float: left;
    margin: 0.5em;
    padding: 0.5em 0.75em; }
.collections .details_container {
  background: #1d1d1d;
  color: white;
  margin: 0 1em;
  padding: 1em; }
.collections .gallery img {
  max-width: 100%; }

.bg_featured_banner {
  position: relative;
  width: 100%;
  height: 40em;
  background-size: cover;
  background-position: center; }
  @media screen and (min-width: 79rem) {
    .bg_featured_banner {
      top: -4em; } }

.post_info, .post_meta {
  padding: 1.6em; }

.post_head {
  padding: 0 1em;
  margin-top: -8em;
  margin-bottom: 4em;
  position: relative;
  overflow: auto; }

.post_info {
  background: white;
  border: 0.1rem solid #1d1d1d;
  position: relative; }
  .post_info h1 {
    font-size: 2em; }
  .post_info .label {
    color: #f57b20; }
  .post_info .status_label {
    margin-top: 2em;
    font-size: 0.8em; }
    .post_info .status_label.stick {
      position: absolute;
      bottom: 1.5em; }

.post_meta {
  background: #1d1d1d;
  color: white; }
  .post_meta li {
    margin-bottom: 1em; }
  .post_meta a.button {
    border: 0.1rem solid white;
    padding-top: 0.65em; }

@media screen and (min-width: 50rem) {
  .main_content_column {
    width: 55%;
    overflow: auto; }

  .post_meta {
    width: 45%; }

  .post_meta, .post_info {
    float: left; } }
.widget {
  padding: 1em; }
  .widget h3 {
    font-size: 1.2em;
    font-weight: bold; }
  .widget iframe {
    width: 100%; }
  .widget ol span {
    float: right; }
  .widget .body_content {
    font-family: Helvetica, Arial, sans-serif;
    color: #818181;
    padding: 1em 0;
    font-size: 0.9em;
    line-height: 1.6em; }

#agenda form {
  margin: 2em 0; }
#agenda input, #agenda select {
  font: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0.1rem solid;
  border-radius: 0;
  background: white;
  min-width: 14em;
  padding: 1em 1em 0.8em;
  margin-right: 0.8em; }
#agenda .input_wrap {
  position: relative;
  display: inline-block; }
  #agenda .input_wrap.hoy:before {
    content: "HOY";
    font-family: Helvetica;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    left: 1em;
    top: 0.85em;
    border-right: 0.1rem solid;
    padding: 0.1em 0.4em 0 0; }
  #agenda .input_wrap.hoy input {
    padding-left: 4em; }
#agenda .ag_results h3 {
  font-size: 1.2em;
  font-weight: bold; }
#agenda .ag_results ul {
  border-top: 0.1rem solid;
  margin: 1em 0 4em; }
  #agenda .ag_results ul li {
    background: white; }
    #agenda .ag_results ul li:hover {
      background: #1d1d1d;
      color: white;
      border-top: 0.1rem solid;
      position: relative;
      top: -0.1rem; }
    #agenda .ag_results ul li:last-child {
      border-bottom: 0.1rem solid; }
      #agenda .ag_results ul li:last-child .max_wrap {
        border: none; }
  #agenda .ag_results ul .max_wrap {
    border-bottom: 0.1rem solid #1d1d1d; }
    #agenda .ag_results ul .max_wrap > div {
      display: table-cell;
      vertical-align: middle;
      padding: 1em 2em 1em 0; }
      #agenda .ag_results ul .max_wrap > div.schedule {
        width: 20em; }
      #agenda .ag_results ul .max_wrap > div.thumbnail {
        width: 16rem; }
      #agenda .ag_results ul .max_wrap > div.title {
        width: 50%; }
  #agenda .ag_results ul img {
    display: block;
    width: 100%;
    height: auto; }
