@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

*:focus {
  outline: none; }

html, body {
  font-size: 10px;
  line-height: inherit; }

body {
  background: #f7f7f7;
  font-family: "New June", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  color: #1d1d1d; }

a {
  color: inherit;
  text-decoration: none; }

hr {
  clear: both;
  width: 100%;
  border: none;
  border-top: 0.1rem solid #818181;
  margin: 0.5em 0 0.75em; }

.max_wrap {
  max-width: 126rem;
  margin: 0 auto;
  width: 100%; }

a.max_wrap {
  display: block; }

ol {
  list-style: decimal;
  padding-left: 1.2em; }

strong {
  font-weight: 700; }

header {
  background: #1d1d1d;
  padding: 2em;
  max-width: 126rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1000; }
  header .navigation {
    display: none;
    float: right;
    width: 100%;
    padding-left: 10.5em;
    padding-right: 4em;
    position: absolute;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media screen and (min-width: 50rem) {
      header .navigation {
        display: block; } }
    header .navigation a {
      color: #818181; }
    header .navigation li {
      display: inline-block; }
  header #site-title {
    float: left; }
    header #site-title, header #site-title a {
      display: inline-block;
      line-height: 0;
      position: relative;
      z-index: 100; }
    header #site-title img {
      max-width: 12rem; }
  header #search {
    display: inline-block;
    float: right;
    font-size: 0.8em;
    text-transform: uppercase; }
  header .submenu {
    display: inline-block;
    font-size: 0.8em;
    text-transform: uppercase; }
    header .submenu li {
      margin-right: 1.5em; }
  header nav#menu {
    font-size: 1.2em; }
    header nav#menu a {
      color: white; }
    header nav#menu ul {
      display: flex;
      justify-content: space-between; }
  header .current-menu-item a {
    color: #f57b20 !important; }

a#nav_toggle_button {
  border-top: 0.25em solid white;
  border-bottom: 0.25em solid white;
  width: 2.5em;
  display: block;
  float: right;
  position: relative;
  padding: 0.7em 0;
  top: 1em; }
  a#nav_toggle_button:before {
    content: "";
    border-top: 0.25em solid white;
    width: 100%;
    display: block; }
  @media screen and (min-width: 50rem) {
    a#nav_toggle_button {
      display: none; } }

footer {
  margin-top: 6em; }
  footer .social {
    background-color: #161616;
    text-align: center;
    padding-top: 8em;
    background-image: url(../img/logo_conarte.svg);
    background-size: 12rem;
    background-repeat: no-repeat;
    background-position: center top 3rem; }
    footer .social input {
      -webkit-appearance: none;
      padding: 1em 1.5em;
      font-size: initial;
      border: none; }
    footer .social form {
      background: yellow;
      display: inline-block;
      border-radius: 0.4rem;
      overflow: hidden;
      font-size: 0rem; }
    footer .social li {
      display: inline-block;
      margin: 2em 1em; }
    @media screen and (min-width: 50rem) {
      footer .social {
        padding: 2em; }
        footer .social form {
          float: left; }
        footer .social ul.sm_tray {
          display: inline-block;
          float: right;
          padding-top: 1em; }
        footer .social li {
          margin: 0 1em; } }
  footer ul.sm_tray svg.icon {
    fill: white; }
  footer #foot_nav {
    clear: both;
    border-top: 0.1rem solid #818181;
    position: relative;
    padding-top: 1.4em;
    top: 2em;
    margin-bottom: 2em;
    display: none;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2em; }
    footer #foot_nav a {
      color: white; }
    footer #foot_nav ul {
      display: flex;
      justify-content: space-between; }
    @media screen and (min-width: 50rem) {
      footer #foot_nav {
        display: block; } }

.sitemap {
  background: #1d1d1d;
  color: #ababab;
  padding: 2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold; }
  @media screen and (min-width: 50rem) {
    .sitemap {
      overflow: auto; } }
  .sitemap .links, .sitemap #copyright {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 0.8em;
    line-height: 1.6em; }
  .sitemap a#logo_nl {
    padding-top: 2em;
    display: block;
    clear: both; }
  .sitemap h3 {
    color: #f7f7f7; }
  .sitemap .legal_note {
    color: #4c4c4c; }
  @media screen and (min-width: 50rem) {
    .sitemap .links, .sitemap #copyright {
      width: 25%;
      margin-left: 1.4em; }
    .sitemap a#logo_nl {
      padding: 1em 1.4em 0 0;
      float: right;
      clear: none; } }

.label {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.actions_tray {
  text-align: center; }

a.button {
  display: inline-block;
  background: #1d1d1d;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 1em; }

.fleft, .excerpt img.poster {
  float: left;
  margin-right: 1em;
  max-width: 14em; }

.excerpt {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #818181;
  margin-top: 1em; }

.status_label {
  font-size: 0.85em;
  font-family: Helvetica, Arial, sans-serif;
  color: #818181;
  letter-spacing: 0.02em; }

.clear {
  clear: both; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

svg.icon {
  fill: #818181;
  width: 2em;
  height: 2em; }
  svg.icon.facebook {
    fill: #3b5998; }
  svg.icon.twitter {
    fill: #1DA1F2; }

ul.moviehours li {
  display: inline-block; }
  ul.moviehours li:before {
    content: "•";
    display: inline-block;
    margin: 0 0.8em;
    color: #818181; }
  ul.moviehours li:first-child:before {
    content: "";
    margin: 0; }

a.close {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  display: block;
  top: 1.5em;
  right: 1em;
  cursor: pointer; }
  a.close:before, a.close:after {
    content: "";
    border-top: 0.3rem solid white;
    width: 100%;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: 0.65em; }
  a.close:before {
    transform: rotate(-45deg); }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.slider {
  position: relative;
  z-index: 0; }
  .slider .slide {
    position: relative;
    height: 40em; }
    .slider .slide > img {
      max-width: 100%;
      min-height: 20em; }
    .slider .slide .bg_img {
      width: 100%;
      height: 60em;
      background-size: cover;
      background-position: center;
      position: relative; }

.details.box {
  background: white;
  border: 1px solid;
  display: block;
  min-width: 20em;
  position: absolute;
  margin: 0 1em;
  bottom: 1em;
  padding: 1em;
  min-height: 14em; }
  .details.box .parent_label {
    position: absolute;
    top: -1em;
    display: inline-block;
    background: white;
    border: 0.1rem solid #1d1d1d;
    font-size: 0.8em;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0.4em 0.5em 0.2em; }
  .details.box h2 {
    font-size: 1.4em;
    line-height: 1.4em; }
  .details.box .status_label {
    position: absolute;
    bottom: 1em; }
    .details.box .status_label span {
      opacity: 0.3; }

.deck {
  overflow: auto; }

.card {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 3rem;
  display: inline-block !important;
  vertical-align: bottom;
  float: initial; }
  .card h2 {
    margin-top: 0.2em;
    margin-bottom: 2em; }
  .card.twos {
    width: 100vw;
    max-width: 45em; }
    .card.twos h2 {
      font-size: 2.4em; }
    .card.twos.no-image .details.box {
      min-height: 16em; }
  .card.fours {
    width: 50vw;
    max-width: 22.5em; }
    .card.fours .details.box {
      min-height: 18em; }
  .card.sixs {
    width: 33.33vw;
    max-width: 15em; }
    .card.sixs h2 {
      font-size: 1em; }
  @media screen and (max-width: 30rem) {
    .card.fours, .card.sixs {
      width: 14em; }
    .card.fours h2 {
      font-size: 1em; } }
  .card.movie .details.box {
    margin-top: 18em; }
  .card.movie img {
    margin-top: -20em;
    max-height: 27.5em; }
  .card.tv {
    min-height: 10em;
    vertical-align: top; }
    .card.tv h3 {
      font-weight: bold;
      margin-top: 1em; }
    .card.tv .about {
      font-family: Helvetica, Arial, sans-serif;
      margin-top: 0.4em;
      color: #818181; }
  .card.schedule {
    font-family: Helvetica, Arial, sans-serif; }
    .card.schedule .details.box {
      min-height: inherit; }
    .card.schedule li {
      display: inline-block;
      color: #818181; }
      .card.schedule li:before {
        content: "•";
        margin: 0 0.5em;
        color: #ababab; }
      .card.schedule li:nth-child(1):before {
        content: "";
        margin: 0; }
    .card.schedule br {
      content: "";
      display: block;
      margin-bottom: 0.5em; }
  .card img {
    width: 100%;
    height: auto;
    display: block; }
  .card .details.box {
    min-height: 14em;
    min-width: inherit;
    width: 100%;
    position: relative;
    margin-left: -1em;
    margin-top: 2em;
    padding: 0; }
    .card .details.box .wrap {
      padding: 1em; }
    .card .details.box .parent_label {
      top: inherit;
      bottom: -1em; }
  .card .img_container {
    position: relative;
    right: -1em;
    margin-top: -1em; }
  .card.no-image {
    padding-right: 0; }
    .card.no-image .details.box {
      min-height: 0; }
    .card.no-image .img_container {
      margin-top: 1.5em; }
      .card.no-image .img_container.sixs .img_container {
        margin-top: 0; }

.label {
  text-transform: uppercase;
  font-size: 0.8em; }

.big.slider {
  margin-top: -4em; }
  .big.slider .slide .bg_img {
    max-width: 166rem;
    margin: 0 auto; }
  .big.slider .details.box {
    bottom: 4em;
    width: 90%; }
    .big.slider .details.box h2 {
      font-size: 2em; }
    .big.slider .details.box .subtitle {
      font-family: Helvetica, Arial, sans-serif; }
    .big.slider .details.box img {
      display: inline-block; }
    .big.slider .details.box .excerpt {
      margin-bottom: 3em; }
    @media screen and (min-width: 30rem) {
      .big.slider .details.box {
        width: 60%; } }
  @media screen and (min-width: 50rem) {
    .big.slider .slide {
      height: 50em; }
    .big.slider .details.box {
      width: 45%; } }
  @media screen and (min-width: 79rem) {
    .big.slider .slide {
      height: 60em; }
    .big.slider .details.box {
      width: 35%;
      bottom: 6em; } }
  @media screen and (max-height: 45rem) {
    .big.slider .slide {
      height: 40em; } }

h2.area_title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin: 1.5em 0 0.5em; }

.dropdown {
  position: relative;
  padding: 0 1em;
  top: -3em; }
  .dropdown label {
    line-height: 2em; }
  .dropdown h2 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .dropdown .latest.story {
    position: relative;
    z-index: 14; }
    .dropdown .latest.story:after {
      content: url(../img/arr_down.svg);
      border: 0.2rem solid white;
      position: absolute;
      right: 2em;
      top: 2.5em;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 2.2rem;
      padding-top: 0.3rem;
      text-align: center;
      -moz-transition: -moz-transform 0.5s;
      -o-transition: -o-transform 0.5s;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s; }
  .dropdown ul.stories {
    position: relative;
    width: 100%;
    display: block;
    margin-top: -6.65em;
    margin-bottom: 6em;
    z-index: 13;
    top: 0;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    transition: top 0.5s; }
    .dropdown ul.stories li {
      position: absolute;
      width: 100%;
      top: 0;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .dropdown ul.stories li:nth-child(1) {
        z-index: 5; }
      .dropdown ul.stories li:nth-child(2) {
        z-index: 4; }
      .dropdown ul.stories li:nth-child(3) {
        z-index: 3; }
      .dropdown ul.stories li:nth-child(4) {
        z-index: 2; }
      .dropdown ul.stories li:nth-child(5) {
        z-index: 1; }
  .dropdown .stories li, .dropdown .story {
    background: #1d1d1d;
    border-bottom: 0.1rem solid #ababab;
    display: block;
    padding: 1em; }
    @media screen and (max-width: 30rem) {
      .dropdown .stories li, .dropdown .story {
        display: none; } }
    .dropdown .stories li img, .dropdown .story img {
      display: inline-block;
      margin-right: 1em;
      vertical-align: top;
      max-height: 6rem;
      width: auto; }
  .dropdown a {
    color: white;
    display: inline-block;
    width: 100%; }
    .dropdown a.toggle_button {
      position: absolute;
      top: 1.75em;
      right: 1.25em;
      width: 3em;
      height: 3em;
      z-index: 1;
      cursor: pointer; }
  .dropdown .title {
    width: 60%;
    display: inline-block;
    height: 6rem; }
    .dropdown .title > div {
      vertical-align: middle;
      display: table-cell;
      height: 6rem;
      font-size: 1.4em; }
    @media screen and (max-width: 30rem) {
      .dropdown .title {
        width: 80%; } }
  .dropdown.open .latest.story:after {
    transform: rotate(180deg); }
  .dropdown.open ul.stories {
    top: 6.6em; }
    .dropdown.open ul.stories li {
      width: 100%;
      margin-left: 0; }
      .dropdown.open ul.stories li:nth-child(2) {
        top: 6.6em; }
      .dropdown.open ul.stories li:nth-child(3) {
        top: 13.25em; }
      .dropdown.open ul.stories li:nth-child(4) {
        top: 19.9em; }
      .dropdown.open ul.stories li:nth-child(5) {
        top: 26.55em; }
      .dropdown.open ul.stories li:hover {
        background: white; }
        .dropdown.open ul.stories li:hover a {
          color: #f57b20; }

.collections .controls {
  background: white;
  border: 0.1rem solid #1d1d1d;
  overflow: auto;
  padding: 0.5em;
  margin: 1em 1em 0 1em; }
  .collections .controls ul > li {
    border: 0.1rem solid;
    display: inline;
    float: left;
    margin: 0.5em;
    padding: 0.5em 0.75em; }
.collections .details_container {
  background: #1d1d1d;
  color: white;
  margin: 0 1em;
  padding: 1em;
  clear: both;
  overflow: auto;
  display: none;
  position: relative; }
.collections .column {
  padding: 4em 1em 2em; }
.collections .info {
  width: 40%;
  float: left; }
  .collections .info .status_label {
    margin-top: 6em;
    font-size: 1em;
    color: white; }
  .collections .info .subtitle {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 0.2em; }
  .collections .info h1 {
    font-size: 3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
.collections .gallery {
  width: 60%;
  float: right; }
  .collections .gallery img {
    max-width: 100%;
    height: auto; }

.bg_featured_banner {
  position: relative;
  width: 100%;
  height: 40em;
  background-size: cover;
  background-position: center; }
  .bg_featured_banner.no_image {
    height: 14em; }
  @media screen and (min-width: 79rem) {
    .bg_featured_banner {
      top: -4em; } }

.post_info, .post_meta {
  padding: 1.6em; }

.post_head {
  padding: 0 1em;
  margin-top: -8em;
  margin-bottom: 4em;
  position: relative;
  overflow: auto;
  top: -1em;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .post_head.loading {
    top: 6em;
    opacity: 0; }

.post_info {
  background: white;
  border: 0.1rem solid #1d1d1d;
  position: relative; }
  .post_info h1 {
    font-size: 2em; }
  .post_info .label {
    color: #f57b20;
    margin-bottom: 0.5em; }
  .post_info .subtitle {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0.4em 0 2em; }
  .post_info .status_label {
    margin-top: 2em; }
    .post_info .status_label.stick {
      position: absolute;
      bottom: 1.5em; }

.post_meta {
  background: #1d1d1d;
  color: white; }
  .post_meta dt {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    color: #818181; }
  .post_meta dd {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    margin-bottom: 1em; }
  .post_meta a.button {
    border: 0.1rem solid white;
    padding-top: 0.65em; }

@media screen and (min-width: 50rem) {
  .main_content_column {
    width: 55%;
    overflow: auto; }

  .post_meta {
    width: 45%; }

  .post_meta, .post_info {
    float: left; } }
.widget {
  padding: 1em; }
  .widget h3 {
    font-size: 1.2em;
    font-weight: bold; }
  .widget iframe {
    width: 100%;
    min-height: 26em; }
  .widget ol li {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0); }
    .widget ol li:hover {
      border-bottom: 0.1rem dotted #ababab; }
  .widget ol span {
    float: right; }
  .widget .body_content {
    font-family: Helvetica, Arial, sans-serif;
    color: #818181;
    padding: 1em 0;
    font-size: 0.9em;
    line-height: 1.6em; }

#agenda form {
  margin: 2em 0; }
#agenda input, #agenda select {
  font: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0.1rem solid;
  border-radius: 0;
  background: white;
  min-width: 14em;
  padding: 1em 1em 0.8em;
  margin-right: 0.8em; }
#agenda .input_wrap {
  position: relative;
  display: inline-block; }
  #agenda .input_wrap.hoy:before {
    content: "HOY";
    font-family: Helvetica;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    left: 1em;
    top: 0.85em;
    border-right: 0.1rem solid;
    padding: 0.1em 0.4em 0 0; }
  #agenda .input_wrap.hoy input {
    padding-left: 4em; }

.ag_results h3 {
  font-size: 1.4em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-right: 1em;
  padding-left: 1em; }
  .ag_results h3 span {
    font-family: "New June", Helvetica, Arial, sans-serif;
    color: #f57b20;
    font-weight: bold;
    margin-right: 0.5em; }
.ag_results .kicker {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  color: #818181;
  margin-top: 0.2em;
  width: 80%; }
.ag_results ul {
  border-top: 0.1rem solid;
  margin: 1em 0 4em; }
  .ag_results ul li {
    background: white;
    padding-right: 1em;
    padding-left: 1em; }
    .ag_results ul li:hover {
      background: #1d1d1d;
      color: white;
      border-top: 0.1rem solid;
      position: relative;
      top: -0.1rem; }
    .ag_results ul li:last-child {
      border-bottom: 0.1rem solid; }
      .ag_results ul li:last-child .max_wrap {
        border: none; }
  .ag_results ul .max_wrap {
    border-bottom: 0.1rem solid #1d1d1d; }
    .ag_results ul .max_wrap > div {
      display: table-cell;
      vertical-align: middle;
      padding: 1.5em 1em 1.4em 0; }
      .ag_results ul .max_wrap > div.schedule {
        width: 16em;
        font-family: Helvetica, Arial, sans-serif;
        color: #818181; }
      .ag_results ul .max_wrap > div.thumbnail, .ag_results ul .max_wrap > div.location {
        display: none; }
      .ag_results ul .max_wrap > div.title {
        width: 75%;
        padding-left: 1em; }
      @media screen and (min-width: 50rem) {
        .ag_results ul .max_wrap > div.schedule {
          width: 20em; }
        .ag_results ul .max_wrap > div.thumbnail, .ag_results ul .max_wrap > div.location {
          display: table-cell;
          width: 20em; }
        .ag_results ul .max_wrap > div.title {
          width: 55%; } }
  .ag_results ul img {
    display: block;
    width: 100%;
    height: auto; }
  .ag_results ul h2, .ag_results ul .location {
    font-size: 1.2em; }

.ui-widget-header {
  background: transparent;
  border: none; }

.ui-corner-all {
  border-radius: 0;
  border-color: #1d1d1d; }

.ui-widget {
  font-family: Helvetica, Arial, sans-serif; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: transparent;
  text-align: center; }

.ui-datepicker {
  width: 15.3em; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: transparent; }
